/* 全体的 */
body {
    background: linear-gradient( -135deg, #FEE9A0, #DAAF08, #B67B03, #DAAF08, #FEE9A0, #B67B03);
    color: #333333;
    font-family: sans-serif;
    margin: 0;
    -webkit-text-size-adjust: 100%;
}
p {
    line-height: 1.429;
    font-size: 14px;
}

/*　特別　*/
.saa1 {
    text-align: center;
}
.saa2 {
    font-size: 7vw;
    transform: rotate(-10deg);
    text-align: left;
    font-weight: bold;
    display:inline-block;
    margin: 0;
}


/* 見出し */
.pagetitle {
    font-size: 20px;
    text-align: left;
    font-family: serif;
    background-color: #08031f; 
    padding-left: 80px;
    color: #eeeeee;

}
.heading-typeA {
    background: linear-gradient( -135deg, #b47f1498, #dbb62098, #fbebb298, #d6b11b98, #af7b1398);
    margin: 3%;  
    padding-top: 15px;
    border: 0.5px solid #daaf08;
}
.team {
    text-align: center;
}
h2 {
    line-height: 45px;
    margin: 0;
}
h3 {
    border-left: solid 5px #8d8980;
    margin-left: 15px;
    margin-top: 0;
    background-color: #f5e5a680;;
    margin-right: 55%;
    padding-left: 15px;
    line-height: 1.4;
    font-size: 105%;
}